@use "./helper/_reset.scss";
@use "./helper/_variables.scss";

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease;

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}