.header {
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  max-width: 1000px;
  width: 100%;
  min-width: 300px;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  align-content: center;
  transition: all 0.3s ease;

  * {
    font-size: clamp(16px, 2vw, 24px);
  }
}

@media (max-width: 434px) {
  .header {
    justify-content: center;
  }
}